In [2]:
!pip install requests beautifulsoup4


import pandas as pd
from bs4 import BeautifulSoup
import requests

Requirement already satisfied: requests in c:\users\ramya\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: beautifulsoup4 in c:\users\ramya\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ramya\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ramya\anaconda3\lib\site-packages (from requests) (2024.2.2)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\ramya\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ramya\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\ramya\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)

In [3]:
url = "https://books.toscrape.com/catalogue/category/books/travel_2/index.html"

response = requests.get(url)

if response.status_code == 200:
    print("Request successful")
else:
    print("Error:", response.status_code)

response

Request successful

In [4]:
soup = BeautifulSoup(response.content, "html.parser")

In [5]:
title_element = soup.find_all("a", title= True)
title_element

[<a href="../../../its-only-the-himalayas_981/index.html" title="It's Only the Himalayas">It's Only the Himalayas</a>,
 <a href="../../../full-moon-over-noahs-ark-an-odyssey-to-mount-ararat-and-beyond_811/index.html" title="Full Moon over Noah’s Ark: An Odyssey to Mount Ararat and Beyond">Full Moon over Noah’s ...</a>,
 <a href="../../../see-america-a-celebration-of-our-national-parks-treasured-sites_732/index.html" title="See America: A Celebration of Our National Parks &amp; Treasured Sites">See America: A Celebration ...</a>,
 <a href="../../../vagabonding-an-uncommon-guide-to-the-art-of-long-term-world-travel_552/index.html" title="Vagabonding: An Uncommon Guide to the Art of Long-Term World Travel">Vagabonding: An Uncommon Guide ...</a>,
 <a href="../../../under-the-tuscan-sun_504/index.html" title="Under the Tuscan Sun">Under the Tuscan Sun</a>,
 <a href="../../../a-summer-in-europe_458/index.html" title="A Summer In Europe">A Summer In Europe</a>,
 <a href="../../../the-great-railway-bazaar_446/index.html" title="The Great Railway Bazaar">The Great Railway Bazaar</a>,
 <a href="../../../a-year-in-provence-provence-1_421/index.html" title="A Year in Provence (Provence #1)">A Year in Provence ...</a>,
 <a href="../../../the-road-to-little-dribbling-adventures-of-an-american-in-britain-notes-from-a-small-island-2_277/index.html" title="The Road to Little Dribbling: Adventures of an American in Britain (Notes From a Small Island #2)">The Road to Little ...</a>,
 <a href="../../../neither-here-nor-there-travels-in-europe_198/index.html" title="Neither Here nor There: Travels in Europe">Neither Here nor There: ...</a>,
 <a href="../../../1000-places-to-see-before-you-die_1/index.html" title="1,000 Places to See Before You Die">1,000 Places to See ...</a>]

In [9]:
title = title_element[1].get("title")
title

'Full Moon over Noah’s Ark: An Odyssey to Mount Ararat and Beyond'

In [103]:
title_element = soup.find_all("a", title= True)

titles = []
for x in title_element:
    title = x.get("title")
    titles.append(title)
    
titles

["It's Only the Himalayas",
 'Full Moon over Noah’s Ark: An Odyssey to Mount Ararat and Beyond',
 'See America: A Celebration of Our National Parks & Treasured Sites',
 'Vagabonding: An Uncommon Guide to the Art of Long-Term World Travel',
 'Under the Tuscan Sun',
 'A Summer In Europe',
 'The Great Railway Bazaar',
 'A Year in Provence (Provence #1)',
 'The Road to Little Dribbling: Adventures of an American in Britain (Notes From a Small Island #2)',
 'Neither Here nor There: Travels in Europe',
 '1,000 Places to See Before You Die']

In [104]:
price_element = soup.find_all("p", class_="price_color")
price_element


prices = []
for i in price_element:
    price = i.get_text()
    prices.append(price)
    
prices

['£45.17',
 '£49.43',
 '£48.87',
 '£36.94',
 '£37.33',
 '£44.34',
 '£30.54',
 '£56.88',
 '£23.21',
 '£38.95',
 '£26.08']

In [105]:
stars = soup.find_all("p", class_="star-rating")
stars

[<p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>]

In [106]:
stars[0].get("class")

['star-rating', 'Two']

In [107]:
rating_list = []
for i in stars:
    rating = i.get('class')[1]
    rating_list.append(rating)

In [108]:
rating_list

['Two',
 'Four',
 'Three',
 'Two',
 'Three',
 'Two',
 'One',
 'Four',
 'One',
 'Three',
 'Five']

In [109]:
book_dict = {"Title":titles, "Rating":rating_list, "Price":price}

In [114]:
df = pd.DataFrame(book_dict)
df

                                                Title Rating   Price
0                             It's Only the Himalayas    Two  £26.08
1   Full Moon over Noah’s Ark: An Odyssey to Mount...   Four  £26.08
2   See America: A Celebration of Our National Par...  Three  £26.08
3   Vagabonding: An Uncommon Guide to the Art of L...    Two  £26.08
4                                Under the Tuscan Sun  Three  £26.08
5                                  A Summer In Europe    Two  £26.08
6                            The Great Railway Bazaar    One  £26.08
7                    A Year in Provence (Provence #1)   Four  £26.08
8   The Road to Little Dribbling: Adventures of an...    One  £26.08
9           Neither Here nor There: Travels in Europe  Three  £26.08
10                 1,000 Places to See Before You Die   Five  £26.08